<h1>Editing school admin</h1>

<%= render "form", school_admin: @school_admin %>

<br>

<div>
  <%= link_to "Show this school admin", @school_admin if policy(:school_admin).show? %> <%= link_to "Back to school admins", school_admins_path if policy(:school_admin).index? %>
</div>
