 

<h1>School Admins</h1>

<div id="school_admins">
  <% @school_admins.each do |school_admin| %>
    <%= render school_admin %>
    <p>
      <%= link_to "Show this school admin", school_admin %>
    </p>
  <% end %>
</div>

<%= link_to 'Home', home_url %> <%= link_to "New school admin", new_school_admin_path if policy(:school_admin).new? %>
